/*navigating */

body {
    background-color: black;
}


/* titlte */


/* jumbotron */


/* article */
.article-lead{
    color: white;
}

.flex1 {
    color: black;
    width: 30%;
    order: 1;
}

.flex2 {
    text-align: center;
    color: black;
    width: 100%;
    order: 0;
}

.flex3 {
    color: black;
    width: 30%;
    order: 2;
}

.flex4 {
    color: black;
    width: 30%;
    order: 3;
}

.medio-title {
    color: blue;
    text-align: center;
}

.container-title {
    background-color:black;
    color: blue;
    text-align: center;
}
/* row of colummns */
.container.row{
    background-color: white;
}

/* footer */


/* media quires*/

.firts-flex {
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}


@media screen and (min-width:480px) and (max-width:780px) {
    .firts-flex {
        background-color: red;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:780px) {
    .firts-flex {
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}