/*navigating */ 
ul.topnav {
list-style-type: none;
margin: 0;
padding: 0;
width:100%;
overflow: visible;
background-color: #52356B;
float:left;
font-size:2em;
border-color: #362544;
border-width: 0px;
border-style: solid;
border-radius:50% ;
}

ul.topnav li a {
display: block;
color: white;
padding: 8px 30px;
text-decoration: none;
}

ul.topnav li {
float: left;
}

ul.topnav li.right {
float: right;
}

li a, .dropbtn {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.topnav li a:hover, .dropdown:hover .dropbtn{
color: #C4A5DF;
text-decoration: underline;
}

.dropdown-content {
display: none;
position: absolute;
background-color:  #C4A5DF;
width: 46vw;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
border-color: #D0A6A6;
border-width: 0px;
border-style: solid;
border-radius:0px ;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: center;
}

.dropdown-content a:hover {
background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
display: block;
}

/* titlte */
 
.website-title{
font-size:5em;
text-align:center;
color:#872E6F;
} 

body{
background-color:rgb(182,255,244);
}

/* images */ 

img{
position: relative ;
left: 25%;
width: 50%;
}
aside .img-aside{
position: relative ;
left: 0%;
width: 80%;
}

/* main layout*/
.flex-container{
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-start;
}

/* article */

.articles{
color:#872E6F ;
float: left;
flex: 4;
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-start;
flex-wrap: wrap; 
}

.articles .article-flex.first{
flex: 1;
}
.articles .article-flex.second{
flex: 1;  
}
.articles .article-flex.third{
flex: 1;
}
.articles .article-flex.fourth{
flex: 1;    
}
.articles .article-flex.fifth{
flex: 1 ;    
}
.articles .article-flex.sixth{
flex: 1;
}

.articles .article{
font-size: 1em;
margin:auto;
width:300px;
}

.article-lead ,article p {
text-align: center;  
}
.article .article-title{
text-align: center;
font-size: 2em;
font-weight: bold;
text-decoration: underline;
}
.article-link a:hover,
.article-link a:focus {
text-decoration: none;
}

.main-article{
font-size: 1em;
width:100%;
}

.main-article .article-title{
font-size: 4em;
text-align: center;
}

/*aside*/

.aside-title{
font-size: 2em;
font-weight: bold;
text-decoration: underline; 
}
aside {
float: right;
color:#872E6F ;
text-align: center;
flex:1;
}
.sub-title{
font-weight: bold;
}
aside ul li {
text-align: left;
}
/* footer */
.site-footer{
color: #52356B;
}
.site-footer {
clear: both;
}

/* media quires*/
@media screen and (max-width: 400px) {
.flex-container{
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-start;
flex-wrap: wrap;
}
}

@media screen and (max-width: 765px){
ul.topnav li.right,ul.topnav li {
float: none;
}
.website-title{
font-size:3.5em;
}
.articles{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
}